<div class="form-group">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-weight"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="peso" placeholder="Peso">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-text-width"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="ancho" placeholder="Ancho">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-arrow-up"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="alto" placeholder="Alto">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-arrows-alt-h"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="largo" placeholder="Largo">
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-globe"> Región</i>
            </div>
        </div>
        <select type="text" class="form-control" formControlName="region" placeholder="region">
            <option value="1">Norte América</option>
            <option value="2">Centro América</option>
            <option value="3">Sur América</option>
            <option value="4">Asia</option>
            <option value="5">Oceanía</option>
            <option value="6">África</option>
            <option value="7">Suramérica</option>
        </select>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-globe-americas"> País Origen</i>
            </div>
        </div>
        <select type="text" class="form-control" formControlName="pais_origen" placeholder="pais_origen">
            <option value="1">Estados Unidos</option>
            <option value="2">México</option>
            <option value="3">España</option>
            <option value="4">Alemania</option>
            <option value="5">Italia</option>
            <option value="6">Francia</option>
            <option value="7">Brazil</option>
        </select>
    </div>
   
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-globe-americas"> País Destino</i>
            </div>
        </div>
        <select  *ngFor="let cotizador of cotizadorService.list " type="text" class="form-control" formControlName="pais_origen" placeholder="pais_origen">
            <option value= "{{ cotizador.id_pais }}">{{ cotizador.nombre}}</option>
          
        </select>
    </div>
    
</div>